@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
/* * About component */
.aboutTitle {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px 5px;
  margin: 10px 0px 20px;
  color: whitesmoke;
  font-family: "Fira Code";
}

.aboutDescription {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: rgb(34, 34, 37);
  box-shadow: 3px 2px 2px #111;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Fira Code";
}

.aboutDescription p {
  text-indent: 20px;
  padding: 20px;
  color: rgb(187, 183, 183);
  font-family: "Fira Code";
}

@media screen and (max-width:450px) {
  .aboutDescription {
    width: 95%;
  }
}